#root {
  position: relative; 
  min-height: 100%;
}

.Tracker-App {
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.Tracker-App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.Buttons-Main {
  /* background-color: aqua;
  border: solid, red, 3px; */
  margin-top: 2vh;
  margin-bottom: 2vh;

}

.Display-Vehicle-Info {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 70vh;
  /* border: solid 3px blue; */
}
.Show-Card {
  /* display:flex; */
  order: 2;
  width: 30%;
  height: 100%;
}

.Show-Map {
  order: 1;
  width: 70%;
  height: 100%;
}

.Get-All-Btns {
  width: auto;
  height: 10vh;
}

.Get-All-Btns {
  /* background-color: aqua;
  border: solid, red, 3px; */
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 600px) {
  /* body {
    background-color: lightblue;
  } */

  .Display-Vehicle-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .Show-Card {
      justify-content: center;
      order: 1;
      width: 100%;
      height: 70%;
  }

  .Show-Map {
    justify-content: center;
    order: 2;
    width: 100%;
    height: 30%;
  }

}